<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Collectags</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/normalize.css') }}"></link>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}"></link>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"></link>
    <script src="{{ url_for('static',filename='js/vendor/jquery-1.12.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>

  </head>
  <body>
    <header>
      <div class='center'>
        <a href="{{ url_for('index') }}">
        <div id='logo' class='logo'>#collectags</div>
      </a>
      {% if user %}
        <div id='profile'
        style="background-image:url('{{user.profile_picture}}')"
        class='profile-picture'></div>
      </div>
      {% endif %}
    </header>
			{% block body %}{% endblock %}
	</body>
</html>
