{% extends "layout.html" %}
{% block body %}
    <content class='single-image'>
      <div class='center'>
        <article id='image-4' data-mediaId='{{id}}' class='image'>
          <img
          alt='cat' src='{{src}}'>
          <div class='image-actions'>
            <div class='tag-container'></div>
            <div
                tabindex="1"
                class='textbox'>
                <span></span>
            </div>
            <button id='sendComment'>Send</button>
          </div>
        </article>
      </div>
    </content>
  {% endblock %}
