<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Page Title</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}"></link>
  </head>
  <body>
    <header>
      <div class='center'>
        <a href="{{ url_for('index') }}">
        <div id='logo' class='logo'>#COLLECTAGS</div>
      </a>
        <div id='profile' class='profile-picture'></div>
      </div>
    </header>
    <content class='gallery'>
    <link rel="stylesheet" type="text/css" href="index.css">.
      <div class='center'>
        <article id='image-1' class='image'>
          <img
          alt='cat' src='https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/19227410_342425502843827_8231800762657669120_n.jpg'>
        </article>
        <article id='image-2' class='image'>
          <img
          alt='cat' src='https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/19227799_443263992721575_1554738355395100672_n.jpg'>
        </article>
        <article id='image-3' class='image'>
          <img
          alt='cat' src='https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/19367526_1334890839939553_8627327504991911936_n.jpg'>
        </article>
        <article id='image-4' class='image'>
          <a href="{{ url_for('comment') }}">
            <img
          alt='cat' src='https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/s1080x1080/e35/19228923_331218380644465_2055408551425212416_n.jpg'>
          </a>
        </article>
        <article id='image-5' class='image'>
          <img
          alt='cat' src='https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e35/19367222_1074961119300696_2830446764471877632_n.jpg'>
        </article>
      </div>
    </content>
